 /* @media (min-width:768px) {
    #image{
display: none;
    }
 }
 @media (max-width:768px) {
    #image{
 margin-left: 45px;
    }
 }
 @media (max-width:768px) {
    #image{
 margin-left: 45px;
    }
 }
 @media (min-width:320px) {
    #image{
 margin-left: 10px;
    }
 } */